/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    --heading-font: 'Poppins', sans-serif;
    --body-fonts:'Open Sans', sans-serif;
    --button-bg: hsl(300, 69%, 71%);
    --body-bg: hsl(257, 40%, 49%);
}

body {
    padding: 3rem 5rem;
    background-image: url("./assets/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--body-bg);
}

h1 {
    font-size: 3.8rem;
    margin-bottom: 1rem;
    font-family:var(--heading-font);
    font-weight: 700;
    color: white;
}

p {
    font-size:1.5rem;
    margin-bottom: 2rem;
    padding-right:6rem;
    font-family: var(--body-fonts);
    color: white;
}

/* LOGO STYLES */
.logo {
    margin: 3rem  0;
}


/* MAIN CONTENT STYLES */
.main-content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:2rem;
}
.main-image-container {
    flex: 1 1 50rem;
}

.main-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-text {
    flex: 1 1 40rem;
    padding: 4rem 8rem;
}

button {
    padding: 1.5rem 5rem;
    border-radius: 3rem;
    border: none;
    background-color:var(--button-bg);
    font-size: 2rem;
    color: white;
    font-family: var(--body-fonts);
}

button:hover {
    cursor: pointer;
    box-shadow: 4px 8px 10px rgba(0,0,0,0.3);
}

/* ICON STYLES */
.icons-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-stack {
    color: white;
}
.fa-stack:hover {
    cursor: pointer;
    color: var(--button-bg);
}

/* MEDIA QUERIES */
@media only screen and (max-width:375px) {
    /* html {
        font-size: 42%;
    } */
    body {
        background-image: url("./assets/images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-position: center;
        height:100vh;
    }

    h1 {
        font-size:1.9rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    p {
        font-size:1.5rem;
        text-align: center;
        padding:1rem;
        margin-bottom: 2rem;
    }

    .logo {
        width: 12rem;
        height: auto;

        margin:1rem 0 3rem 0;
    }

    .main-content-container {
        margin-bottom:1.9rem;
    }
    .main-text {
        padding:1rem;
    }

    button {
        margin-left:50%;
        transform:translateX(-50%);
        background-color: white;
        color:var(--body-bg);
        box-shadow:3px 6px 12px rgba(0,0,0,0.3);
        padding: 1rem 3rem;
        font-size: 1.3rem;
        width: 80%;
    }

    .icons-group {
        justify-content: center;
    }

    .fa-stack {
        padding:1rem;
    }
}